name: Build and Dockerize apps
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.22']        
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache-dependency-path: |
            telebot/go.sum
      - name: Install dependencies
        run: |          
          cd telebot 
          go get github.com/tucnak/telebot          
      - name: Build telebot binary
        run: |          
          cd telebot 
          sed -i 's\__build_number__\${{github.run_number}}\g' telebot/cmd/app/main.go 
          mkdir bin
          CGO_ENABLED=0 go build -a -installsuffix cgo -o ./bin/telebot ./cmd/app/... 
      - name: Build hellosayer binary
        run: |          
          cd hellosayer 
          mkdir bin
          CGO_ENABLED=0 go build -a -installsuffix cgo -o ./bin/hellosayer ./cmd/app/... 
      - name: Save artifact
        uses: actions/upload-artifact@v4
        with:
          name: playwithkuber
          path: |
            telebot/bin/telebot
            hellosayer/bin/hellosayer
      - name:  Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push telebot image to DockerHub
        uses: docker/build-push-action@v5
        with:
          context: "./telebot"
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/telebot:latest
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/telebot:latest
          cache-to: type=inline

      - name: Build and push hellosayer image to DockerHub
        uses: docker/build-push-action@v5
        with:
          context: "./hellosayer"
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/hellosayer:latest
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/hellosayer:latest
          cache-to: type=inline
      